.form {
	width: 325px;
	align-items: center;
	align-self: center;
	align-content: center;
	border-width: 3px;
}
.subs {
	width: 325px;
	align-items: center;
	align-self: center;
	align-content: center;
}
.checkbox-list-secondary-label {
	width: 325px;
	align-items: center;
	align-self: center;
	align-content: center;
	margin-right: 30px;
	background-color: aqua;
}

.list-group-item {
	width: 325px;
	align-items: center;
	align-self: center;
	align-content: center;
	margin-left: 25%;
	margin-top: -30%;
	padding: 0.5rem;
	background-color: #fff;
}
.buttons {
	display: flex;
	justify-content: space-evenly;
}
.Sections {
	display: flex;
	justify-content: space-between;
}
.sections {
	display: flex;
	width: 100%;
	cursor: pointer;
}
.sections:active {
	background-color: gray;
}
.sections:hover {
	background-color: lightgray;
}
.sections:focus {
	border: black;
}
.card-text {
	display: flex;
	justify-content: space-evenly;
	color: grey;
	font-size: 14px;
}
.card-header {
	background-color: white;
}
.card-info {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
.blank{
	display: flex;
	justify-content: center;
	color:gray;
}