body {
	min-width: 360px; 
	min-height: 500px;
	max-height: 100%;
	position: relative;
	vertical-align: middle;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F5F5F5;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
html {
	-ms-overflow-style: none;
	scrollbar-width: none; /* Firefox */
}